.testimonial{
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.photo{
    
    width: 230px;
    height: 230px;
    object-fit: cover;
    object-position: center;
    padding: 10px;
    border-radius: 50%;
    
}
.text{
    padding-top: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
@media only screen and (max-width:720px)
{
    .photo{
        width: 200px;
        height: 200px;

    }
    
    .text{
        font-size: 17px;
        padding-top: 0px;
    }
}