.App {
    
    display: flex;
    background-color: rgba(62, 109, 131, 0.589);
    align-items: center;
    justify-content: center;
   
    
    
  }

  .App:hover{
    
    background-color: rgba(73, 112, 143, 0.834);
    transition: 1s;

}