.about{
    
    padding-top: 20px;
    padding-bottom: 48px;
}
.about-top{
    
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.548);
    
}


.banner{
    display: flex;
    flex-direction: row;
}
.video-arrow{
    width: 120px;
    padding-left: 10px;
}

.contact-page-link {
    margin-top: 18px;
    font-size: 15px;
    height: fit-content;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(255, 255, 255);
    width: fit-content;
    padding: 10px;
    
}
.contact-page-link a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: medium;
    font-weight: bolder;
    align-items: center
}

.contact-page-link:hover{
    background: #6caad4;
}
.contact-page-link a:hover{
    color: white;
}
.video-about{
    
    height: 480px;
}

.about-info{
    font-size: 20px;
    color: white;
   
}

@media only screen and (max-width:820px)
{
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .about-info{
        font-size: 20px;
    }
    .about{
        padding: 0px 30px;
        
    }

    .video-about{
    
        height: 300px;
    }
}